fastapi
uvicorn[standard]
# uvicorn
python-decouple
pymongo
pymongo[srv]
bcrypt
passlib
requests
boto3
pydantic
dnspython
python-multipart
ultralytics
numpy
opencv-python
googlemaps
# pandas
# seaborn
# scikit-learn
# tqdm
# torchvision
# torch
# firebase-admin